@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.container {
  position: relative;
  width: 90%;
  max-width: 90%;
  height: 90vh;
  background: #cecdca;
  border-radius: 0.5rem;
}

#message-container {
  max-width: 1200px;
  height: 86%;
  overflow-y: hidden;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

#message-container:hover{
  overflow-y: overlay;

}

#message-container div.received.note {
  opacity: 0.8;
  background: transparent;
}
#message-container div.received.note::before {
  visibility: hidden;
}

#message-container div.received {
  position: relative;
  background: #fff;
  padding: 0.7rem;
  margin: 0.5rem;
  margin-left: 0.8rem;

  max-width: 50%;
  width: fit-content;
  overflow-wrap: break-word;

  border-radius: 0.25rem;
  min-height: 1rem;
}

#message-container div.received::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  left: -13px;
  top: 6px;
}

#message-container div.sended::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #274f9e;
  border-right: 10px solid transparent;
  border-top: 10px solid #274f9e;
  border-bottom: 10px solid transparent;
  right: -13px;
  top: 6px;
}

#message-container div.sended {
  position: relative;
  background: #274f9e;
  color: #fff;
  padding: 0.7rem;
  margin: 0.5rem;

  margin-left: auto;
  margin-right: 0.8rem;

  max-width: 50%;
  width:fit-content;
  overflow-wrap: break-word;

  border-radius: 0.25rem;
  min-height: 1rem;
}

form {
  display: flex;
  justify-content: space-between;
  height: 2rem;

  border-radius: 0.5rem;

  position: absolute;
  bottom: 2%;
  width: 100%;
}

form input {
  outline: none;
  border-radius: 2rem;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
  margin-left: 0.5rem;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin: 1rem;
}

form button img {
  height: 1.5rem;
  filter: invert(1);
  transition: 0.2s;
}

form button:hover img {
  filter: invert(0);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
